<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg  navbar-dark default-color">
  <a class="navbar-brand" href="#" style="font-family: Nunito; letter-spacing: 1px; font-size: 25px">Technical Junction</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">About
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://twitter.com/BabralNaresh">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://plus.google.com/+NareshBabral">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/naresh-kumar-2947a620/">
          <i class="fab fa-linkedin" ></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://www.facebook.com/nareshkbab">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://github.com/nareshbab">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://bitbucket.org/nareshbab/">
          <i class="fab fa-bitbucket"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
