<app-navbar></app-navbar>
<div class="container-fluid" style="background-color: white;padding-top:20px;">
  <div class="row mx-auto article-container">
    <h2 class="article-heading">How to setup Nginx</h2>
    <!--TODO: Add author name along with published date -->
    <p class="article-content">
      I’ve been accumulating lots of frequent flyer points lately traveling around the world talking about analytics. In the last month I’ve been in Europe (twice), Brazil, Mexico, Canada, and various places in the US. One thing that has occurred to me as I travel around and talk to different companies is the incredible geographic variation in analytical approaches within the same company. You find some impressive analytical work going on at corporate headquarters, and then you discover that it’s not present outside the home country—or sometimes it’s vice-versa.
    </p>
    <pre class="pre-code-block">
      <code class="code-block">
        I'm some code
      </code>
    </pre>
    <img src="../../assets/images/turn-off-editor.png" style="width: 100%">
    <p class="article-content">
      I’ve been accumulating lots of frequent flyer points lately traveling around the world talking about analytics. In the last month I’ve been in Europe (twice), Brazil, Mexico, Canada, and various places in the US. One thing that has occurred to me as I travel around and talk to different companies is the incredible geographic variation in analytical approaches within the same company. You find some impressive analytical work going on at corporate headquarters, and then you discover that it’s not present outside the home country—or sometimes it’s vice-versa.
    </p>
    <pre class="pre-code-block">
      <code class="code-block">
        I'm some code
      </code>
    </pre>

    <p class="article-content">
      I’ve been accumulating lots of frequent flyer points lately traveling around the world talking about analytics. In the last month I’ve been in Europe (twice), Brazil, Mexico, Canada, and various places in the US. One thing that has occurred to me as I travel around and talk to different companies is the incredible geographic variation in analytical approaches within the same company. You find some impressive analytical work going on at corporate headquarters, and then you discover that it’s not present outside the home country—or sometimes it’s vice-versa.
    </p>
    <pre class="pre-code-block">
      <code class="code-block">
        I'm some code
      </code>
    </pre>
    <p style="font-family: Nunito; margin-top: 100px">&copy; 2018 TechJn All Rights Reserved</p>
  </div>
</div>

