.article-container {
  width: 60%;
}

@media only screen and (max-width: 479px){
  .article-container {
    width: 100%;
  }
}

.article-heading {
  font-family: Nunito;
  font-weight: bold;
  margin-bottom: 30px;
}

.article-content {
  font-family: Nunito;
  font-size: 20px;
}

.pre-code-block {
  background-color: #201c29;
  width: 100%;
  border-radius: 10px;
}

.code-block {
  color: white;
}
