.article-tile {
  height: auto;
  width: 80%;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  padding:15px;
}

.article-display-name {
  font-family: Nunito;
  font-size: 20px;
  color: black;
}

.article-tag {
  margin-right: 5px;
}

@media only screen and (max-width: 600px){
  .article-tile {
    width: 100%;
  }
}
