<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 20px">
  <!--<div class="row mx-auto">-->
    <!--<div class="col-2">Navbar</div>-->
    <!--<div class="col-2 offset-8">Check</div>-->
  <!--</div>-->
  <a class="" *ngFor="let article of articles; index as i" [routerLink]="['/article',  article.display_name]">
    <div class="row mx-auto z-depth-half hoverable article-tile">
      <div class="col-md-10 col-sm-12 article-display-name">
        {{ article.name }}
      </div>
      <div class="col-md-2 col-sm-12 align-items-end">
        <span class="badge badge-dark article-tag">Nginx</span>
        <!--<span class="article-tag badge badge-dark article-tag">Tech</span>-->
      </div>
    </div>
  </a>
</div>

